.red-circle, .blue-circle, .green-circle {
  color: white;
  text-decoration: none;
  font-family: 'Oswald', cursive;
  font-size: 1.5em;
  padding: 1%;
  text-align: center; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

/* Here I'm using my color map to set a body wide background colors. */
body {
  background-color: #9966ff; }

/* Universal styling of elements */
a {
  text-decoration: none; }

li {
  list-style: none; }

/* Header styling */
header {
  background-color: #2c2c2c; }
  header .header-title {
    color: #ffe600;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 3.4em; }

/* Styling of the 3 veritcal lines that creates menu icon */
.menu-icon {
  cursor: pointer;
  padding: 10px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0; }

/* Styling of the menu*/
nav {
  background-color: blue;
  width: 18.75em;
  max-width: 60em;
  height: 100vh;
  padding-top: 1.5em; }
  nav .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 5em;
    position: relative;
    top: -30px; }
  nav a {
    color: white;
    font-size: 2em;
    line-height: 1.5;
    padding: 20px;
    font-family: "Saira Extra Condensed", sans-serif; }

li > a:hover {
  color: red; }

#nav {
  transition: transform .3s ease-in-out;
  top: 0;
  bottom: 0;
  position: fixed;
  left: -340px; }
  @media (min-width: 60em) {
    #nav {
      position: static; } }
  @media (min-width: 60em) {
    #nav {
      left: 0; } }
  #nav:target {
    transform: translateX(340px); }
  #nav ul {
    margin: 0;
    padding: 0; }

/* DESKTOP STYLING */
/* Placing header on the main grid */
header {
  grid-area: header; }
  header .header-title {
    padding: 0;
    font-size: 3em; }

/* Removs toggle on desktop */
@media (min-width: 60em) {
  .toggle, .menu-icon {
    display: none; } }

/* Desktop styling for the navbar */
@media (min-width: 60em) {
  nav {
    background: none;
    max-width: none;
    width: auto;
    height: auto; }
    nav ul {
      display: flex;
      justify-content: center; }
    nav .close {
      display: none; } }

/* Hero image styling along with header */
.hero {
  text-align: center;
  background-image: url("https://raw.githubusercontent.com/mig-25/evxfeh17_html_tenta/master/app/images/scotland.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 250px; }
  .hero .hero-title {
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 5em; }
  .hero .sub-title {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 2em; }
  @media (min-width: 60em) {
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      min-height: none;
      grid-area: hero; } }

/* General styling of the card elements */
.card {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
  /* Desktop styling - placing cards in grids*/ }
  .card img {
    display: block;
    border: 0;
    width: 100%;
    height: auto; }
  @media (min-width: 60em) {
    .card {
      display: grid;
      grid-area: main;
      grid-template: "img title" auto "img content" auto / 1fr 3fr;
      grid-column-gap: 1.5em;
      padding: 1.5em;
      margin-bottom: 1.5em; }
      .card .card-title {
        grid-area: title; }
      .card .card-image {
        grid-area: img; }
      .card .card-content {
        grid-area: content; } }

/* Hiding caption*/
.caption {
  display: none; }

/* Styling card-content*/
.card-content {
  font-family: sans-serif; }
  .card-content h1 {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none; }
  .card-content p {
    font-size: 1.2em; }

/* General styling of the main area*/
.main > h1 {
  color: white;
  font-family: "Dancing Script", cursive; }

/* Controlling the main-content on mobile*/
@media (max-width: 60em) {
  .main-content {
    min-height: 100vh;
    margin-bottom: 1em; } }

/* Styling for portfolio */
@media (min-width: 60em) {
  .portfolio {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 20px; } }

.portfolio-item {
  background-color: gray;
  font-size: 2em; }
  .portfolio-item:hover {
    color: white;
    box-shadow: 5px 5px 5px black; }
  @media (max-width: 60em) {
    .portfolio-item {
      padding: 1em;
      margin-bottom: 1em;
      transition: 0.3s;
      z-index: 10; } }

.small {
  grid-row: 4;
  grid-column: 3; }

.with-image {
  grid-column: 3/6;
  grid-row: 1/4; }
  @media (min-width: 60em) {
    .with-image:before {
      opacity: 0.8;
      transition: 0.3s; } }

.portf-img {
  display: block;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.medium {
  grid-column: span 2;
  grid-row: span 2; }

.tall {
  grid-row: 4/7;
  grid-column: 4/6; }

.wide {
  grid-row: span 2;
  grid-column: span 3; }

/* Simple styling of the sidebar */
.sidebar {
  background-color: white;
  grid-area: sidebar; }

/* General styling of the footer and the title*/
footer {
  grid-area: footer;
  background-color: black; }
  footer .footer-title {
    color: #ffe600;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 3.4em; }

/* Start of our percfect circles */
.red-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: red;
  margin-right: 10px; }
  .red-circle:hover {
    transition: 0.3s;
    color: #dc0000; }
  .red-circle:active {
    background-color: #ff8080; }

.blue-circle {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 75px;
  background-color: blue;
  margin-right: 10px; }
  .blue-circle:hover {
    transition: 0.3s;
    color: #dc00dc; }
  .blue-circle:active {
    background-color: #8080ff; }

.green-circle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100px;
  background-color: green;
  margin-right: 10px; }
  .green-circle:hover {
    transition: 0.3s;
    color: #ffff5c; }
  .green-circle:active {
    background-color: #01ff01; }

body {
  display: flex;
  flex-direction: column; }
  @media (min-width: 60em) {
    body {
      display: grid;
      grid-template: "header header header header" 10em "hero hero hero hero" 50vh " . main sidebar . " auto "footer footer footer footer" 10em/1fr minmax(30em, 5fr) minmax(10em, 1fr) 1fr;
      grid-column-gap: 1.5em; }
      body .main {
        grid-area: main; } }
